<section class="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <div class="advantages-container">
      <div class="advantages-list-container">
        <ul class="advantages-list">
          <li class="advantages-list-item">
            <p class="advantages-item-num">1</p>
            <p class="advantages-text">
              Swimming and water sports: try your hand at water skiing
            </p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-num">2</p>
            <p class="advantages-text">Fishing: try to catch your own dinner</p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-num">3</p>
            <p class="advantages-text">
              Sightseeing tours: take a shore or island tour, enjoy the views
              and sunsets from the water
            </p>
          </li>
          <li class="advantages-list-item">
            <p class="advantages-item-num">4</p>
            <p class="advantages-text">
              Rest and relaxation: read a book or listen to music while enjoying
              the outdoor atmosphere.
            </p>
          </li>
        </ul>
      </div>
      <div class="advantages-img">
        <picture class="picture-img">
          <source
            srcset="
              /img/advantages-desktop-large.jpg    1x,
              /img/advantages-desktop-large-2x.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/advantages-desktop.jpg    1x,
              /img/advantages-2x-desktop.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/advantages-mobile.jpg    1x,
              /img/advantages-mobile-2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <source
            srcset="
              /img/advantages-medium.jpg    1x,
              /img/advantages-2x-medium.jpg 2x
            "
            media="(min-width:768px)"
          />

          <img src="/img/advantages-mobile.jpg " alt="yacht couches" />
        </picture>
      </div>
    </div>
  </div>
</section>
