<section class="our-yachts" id="yachts">
  <div class="container yachts">
    <h2 class="section-title white our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-cards-list">
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <picture>
            <source
              srcset="
                /img/img-yaht-1-large.jpg    1x,
                /img/img-yaht-1-large-2x.jpg 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /img/img-yaht-1-desktop.jpg    1x,
                /img/img-yaht-1-2x-desktop.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /img/img-yaht-1-medium.jpg    1x,
                /img/img-yaht-1-2x-medium.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /img/img-yaht-1-mobile.jpg    1x,
                /img/img-yaht-1-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img
              class="yachts-card-img"
              src="/img/img-yaht-1-mobile.jpg"
              alt="Luxary yacht Arrow"
          /></picture>
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">Arrow</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">48m(155ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILDER</p>
            <p class="yachts-card-value">Admiral</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2021</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">11 in 5 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <picture>
            <source
              srcset="
                /img/img-yaht-2-large.jpg    1x,
                /img/img-yaht-2-large-2x.jpg 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /img/img-yaht-2x-desktop.jpg   1x,
                /img/img-yaht-2-2x-desktop.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /img/img-yaht-2-medium.jpg  1x,
                /img/img-yaht-2x-medium.jpg 2x
              "
              media="(max-width: 1279px)" />
            <img
              class="yachts-card-img"
              src="/img/img-yaht-2-medium.jpg"
              alt="Luxary yacht Bennety"
          /></picture>
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">BENETTI OASIS 40M B...</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">41m (133ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">SHIPYARD</p>
            <p class="yachts-card-value">Benetti</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2025</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">10 in 5 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <picture>
            <source
              srcset="
                /img/img-yaht-3-large.jpg    1x,
                /img/img-yaht-3-large-2x.jpg 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                /img/img-yaht-3-desktop.jpg    1x,
                /img/img-yaht-3-2x-desktop.jpg 2x
              "
              media="(max-width: 1439px)" />
            <img
              class="yachts-card-img"
              src="/img/img-yaht-3-medium.jpg"
              alt="Luxary yacht Belle Anna"
          /></picture>
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">BELLE ANNA</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">50m(155ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">SHIPYARD</p>
            <p class="yachts-card-value">ISA</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2012</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">12 in 6 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="our-yachts-btn">
      <a class="yachts-btn-link" href="#rent-section">Yacht rental</a>
    </div>
  </div>
</section>
