<section class="section-form">
  <div class="container form">
    <div class="rent-img-container">
      <picture>
        <source
          srcset="
            /img/rent-desktop-large.png    1x,
            /img/rent-desktop-large-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/Rent_a_yacht-desktop.jpg    1x,
            /img/Rent_a_yacht-2x-desktop.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/Rent_a_yacht-medium.jpg   1x,
            /img/Rent_a_yacht-2-medium.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/Rent_a_yacht-mobile.jpg    1x,
            /img/Rent_a_yacht-mobile-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="/img/Rent_a_yacht-mobile.jpg " alt="yacht" width="768" />
      </picture>
    </div>
    <div class="form-wrapper">
      <h2 class="form-text" id="rent-section">Rent a yacht now</h2>

      <form class="form-yacht" name="user_info">
        <label class="form-yacht" for="user-name">
          <input
            type="text"
            id="user-name"
            name="user-name"
            placeholder="Full Name"
            pattern="[A-Za-z0-9]{6,}"
            class="form-imput"
          />
        </label>
        <label class="form-yacht" for="input-email">
          <input
            id="input-email"
            name="input-email"
            type="email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            class="form-imput"
          />
        </label>
        <label for="input-phone">
          <input
            id="input-phone"
            name="input-phone"
            type="tel"
            placeholder="Phone number"
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
            class="form-imput"
          />
        </label>
        <label for="user-comment">
          <textarea
            class="form-comment-text"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
        </label>

        <button class="form-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
