<section class="section-review" id="reviews">
  <div class="container container-review">
    <h2 class="section-title white section-title-additional">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="section-paragraph-general">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>

    <ul class="review-list">
      <li class="review-card-list">
        <div class="review-card-img-container">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/person-1-desktop.jpg    1x,
                /img/person-1-2x-desktop.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- Medium screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /img/person-1-medium.jpg    1x,
                /img/person-1-2x-medium.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /img/person-1-mobile.jpg    1x,
                /img/person-1-mobile-2x.jpg 2x
              "
              type="image/jpeg"
            />
            <img
              class="review-card-img"
              src="/img/person-1-mobile.jpg"
              alt="John Wax"
              width="56"
              height="56"
            />
          </picture>
          <h3 class="review-card-header">John Wax</h3>
          <p class="review-card-paragraph">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>

      <li class="review-card-list">
        <div class="review-card-img-container">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/person-2x-desktop.jpg   1x,
                /img/person-2-2x-desktop.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Medium screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /img/person-2-medium.jpg    1x,
                /img/person-2-2x-medium.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <img
              class="review-card-img"
              src="/img/person-2-medium.jpg"
              alt="Victoria Romashenko"
              width="56"
              height="56"
            />
          </picture>
          <h3 class="review-card-header">Victoria Romashenko</h3>
          <p class="review-card-paragraph">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>

      <!--Зупинилася тут. Маю додати srcset-->
      <li class="review-card-list">
        <div class="review-card-img-container">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/person-3-desktop.jpg    1x,
                /img/person-3-2x-desktop.jpg 2x
              "
              type="image/jpeg"
            />
            <!-- Medium screen -->
            <!-- Mobile screen -->
            <img
              class="review-card-img"
              src="/img/person-3-desktop.jpg"
              alt="Ihor Trachuk"
              width="56"
              height="56"
            />
          </picture>

          <h3 class="review-card-header">Ihor Trachuk</h3>
          <p class="review-card-paragraph">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
